.random-planet {
    width: 720px;
    height: 290px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
}

.random-planet img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-left: 5px;
}

h3 {
    margin-left: 25px;
}

.list-group {
    margin-left: 50px;
    margin-top: 20px;
}

.list-group-item {
    margin-top: 15px;
}

.term {
    margin-right: 30px;
}

